/* mobile phones
@media only screen and (max-width: 600px){
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(blue, yellow);
  }
  img {
    width: 80vw;
    height: auto;
  }
  table, th, td {
    border: 1px solid;
    color: cyan;

  }
  table {
    width: relative;
  }
  td{
    position: relative;
    width: max-content;
  }
  main {
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: gray;
    opacity: 0.9;
    object-fit: cover;
  }
  p{
    object-fit: contain;
  }
  nav{
    color: whitesmoke;
  }
  ul{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  h1,h2,p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: yellow;
  }
  section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: cyan;
  }

}



/* tablets */
/* @media only screen and (min-width: 600px){
  body{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-image: linear-gradient(green,orange);
  }
  section{
    color: orange;
  }
  h1, h2, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
  }
  img {
    width: 80vw;
    height: auto;
  }
  table, th, td {
    border: 1px solid;

  }
  table {
    width: relative;
  }
  td{
    position: relative;
    width: max-content;
  }
  ul{
    color: beige;
  }
} */



/* desktops */

/* @media only screen and (min-width: 992px){ */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10vw;
  background-image: linear-gradient(black, red);
}

img {
  width: 25%;
  height: auto;
  margin: 3vw;
}

.fitTogether {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-flow: wrap;
}

table,
th,
td {
  border: 1px solid;

}

table {
  width: relative;
}

td {
  position: relative;
  width: max-content;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #e3e2e1;
  border: solid;
  padding: 1vw;
  opacity: 0.9;
}

nav {
  color: whitesmoke;
}

ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: maroon;
}

h1,
h2,
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-style: italic;
}

.navItem {
  display: inline;
  padding: 1vw;
}

footer {
  display: flex;
  justify-content: center;
}

/* } */

/*I focused on making the print page a bit simpler as someone might want less color on the page to save
ink. In addition, I made it so that sections and pictures would stay on a page together to make each page
easy to read and understand, as well as having pictures stay together.
Furthermore, I set the nav to be hidden as a nav bar is not needed on a print page.*/
/* @media print{
  body{
    display: block;
    margin: 0 10vw;
  }
  img {
    display: block;
    page-break-inside: avoid;
  }
  img.large {
    max-width: 80%;
    height: auto;
  }
  img.medium {
    max-width: 50%;
    height: auto;
  }
  img.small {
    max-width: 35%;
    height: auto;
  }
  table, th, td {
    border: 1px solid;

  }
  table {
    width: relative;
  }
  td{
    position: relative;
    width: max-content;
  }
  main {
    display:block;
    opacity: 0.5;
  }
  ul{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  section{
    display: block;
    page-break-inside: avoid;
    color: purple;
  }
  h1,h2,p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: maroon;
  }
  h1{
    font-style: oblique;
  }
  nav{
    visibility: hidden;
  }
}
 */